/*
.text
{
    text-align: center;
}
body {margin:25%;}

ul {
  list-style-type: none;
  margin: auto;
  margin-bottom: auto;
  padding: 0;
  
  background-color:whitesmoke;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color:gray;
}
*/
.login
{
  
}